.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.55em 0.55em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:hover {
    background-color: rgb(204, 14, 14);
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image {
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    padding: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo:hover {}

.headline {
    font-family: 'Courier New', Courier, monospace;
    
}

.text {
    padding: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}